# Game files and unnecessary folders
*.pak
*.gts
*.log
*.bak
*.tmp

# Editor-only folders
Editor/Help/
Editor/Hints/
Editor/MEIEditor/
Editor/Gizmos/
Editor/Textures/
Editor/Triggers/
Editor/Preview/
Editor/Config/
Editor/Mods/Shared*
Editor/Mods/Gustav*
Editor/Mods/Engine
Editor/Mods/PhotoMode
Editor/Mods/Shadow*

# Other mods and shared folders
Mods/Shared*
Mods/Gustav*
Mods/Shadow_Ninja
Public/Shared/
Public/Gustav*
Public/Shadow_Ninja
Public/Engine
Public/Game
Projects/Gustav*
Projects/Shadow*

# Export artifacts
Exported/
Generated/
Localization/
